<!DOCTYPE html>
<html>
	<head>
		<title>{{job.title}} - Careers</title>
		{% include 'bootstrap.html' %}
	</head>
	<body>
		{% include 'nav.html' %}
		<!-- <div style="margin-top: 40px">
			
		</div> -->
		<div class="container">
			<h1>Title</h1>
			<p>{{job.title}}</p>
			<h3>Location</h3>
			<p>{{job.location}}</p>
			<h3>Salary</h3>
			<p>{{job.salary}}</p>
			<h3>Responsibilities</h3>
			<p>{{job.responsibilities}}</p>
			<h3>Requirements</h3>
			<p>{{job.requirements}}</p>
			{% include 'footer.html' %}
		</div>
	</body>
</html>